body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#app
{
    display: flex;
}
.icon
{
    width: 150px;
    height: 200px;
    background-color: rgb(236, 232, 195);
    margin: 0 1rem;
    box-shadow: 3px 3px 7px #000;
    border-radius: 10px;
}
.icon p
{
    text-align: center;
}